*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Button styles */
.sign-up-btn {
  background-color: #0066cc;
  color: white;
  border: none;
  padding: 0.5rem 1.4rem;
  border-radius:1rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.1s ease;
  font-size: 1rem;
}

.sign-up-btn:hover {
  background-color: #0052a3;
}

.sign-up-btn:active{
  transform: scale(0.98);
}


.btn{
  padding: .5rem 1rem;
  border: none;
  background-color: #73e473;
  border-radius: .3rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}